modelsim/*
!modelsim/instr_node*
!modelsim/ram_image*
!modelsim/modelsim_script.tcl
!modelsim/modelsim_run.bat

quartus/*

boards/*
!boards/*.sv
!boards/DE10-Standard/

boards/DE10-Standard/*
!boards/DE10-Standard/*.sv
!boards/DE10-Standard/*.tcl