build_system/modelsim/*
!build_system/modelsim/modelsim_script.tcl
!build_system/modelsim/modelsim_run.bat

rtl/boards/*
!rtl/boards/*.sv
!rtl/boards/DE10-Standard/

rtl/boards/DE10-Standard/*
!rtl/boards/DE10-Standard/*.sv
!rtl/boards/DE10-Standard/*.tcl